/* load fonts */
@font-face {
    font-family: 'Gilroy';
    src: url(./Gilroy-Regular.woff)format(woff);
}

/* general styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

/* entire screen  */
html {
    font-size: 16px;
}

/* to hide any elements */
.hide {
    display: none;
}

/* fade in animation */
.fadeIn {
    animation: fade 0.5 ease-in-out;
}

/* animation for Fading In */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    width: 100%;
    height: 60px;

    margin: 0 auto;

    background-color: #f3f2f2;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex: 1;
}

/* image styles inside logo div */
.logo img {
    width: 60px;
}

/* paragraph styles inside logo div */
.logo p {
    font-weight: bold;
    color: #6a149b;
}

/* navigation styles */
nav {}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li:last-child {
    padding-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #6a149b;
    padding: 10px;
}